* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "MontserratR";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MontserratB";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}




body::-webkit-scrollbar {
  width: 0;
}
body {
	  overflow-y: auto;
	  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}
.wrapper {
  max-width: 2000px;
  width: 100%;
        height: calc(100% + 1px);
        overflow-x: hidden;
	
  margin: 0 auto -30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "MontserratB";
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__block {
  position: relative;
  width: 100%;
  height: 1030px;  
	  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #eff2f6), color-stop(62%, #eff2f6), color-stop(63%, #ff343d), color-stop(100%, #ff343d));
	  background: -o-linear-gradient(right, #ff343d 0% 38%, #eff2f6 38% 100%);
	  background: linear-gradient(to left, #ff343d 0% 38%, #eff2f6 38% 100%);
}
@media (max-width: 1439px) {
  .main__block {
    height: 742px;
  }
}
@media (max-width: 1023px) {
  .main__block {
    height: 527px;
  }
}
.main__block_title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  position: absolute;
  right: -410px;
  top: 373px;
  font-size: 388px;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  text-shadow: 0 0 55px rgba(0, 0, 0, 0.15);
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none; 
  color: #ff343d;
  z-index: 2;
}
@media (max-width: 1439px) {
  .main__block_title {
    font-size: 280px;
    right: -297px;
    top: 270px;
  }
}
@media (max-width: 1023px) {
  .main__block_title {
    font-size: 198px;
    right: -209px;
    top: 191px;
  }
}
@media (max-width: 767px) {
  .main__block_title {
    font-size: 135px;
    right: -164px;
    top: 169px;
  }
}
@media (max-width: 374px) {
  .main__block_title {
    font-size: 100px;
    right: -122px;
    top: 136px;
  }
}

.main__block_slider {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow: hidden;
  left: 0;
  top: 0;
}
	
.swiper, .swiper4 {
  width: 78%;
  height: 100%;	
  position: relative;
  left: 10%;
  top: 0;
  overflow: hidden;
}
.swiper__text, .swiper4__text {
  position: absolute;
  bottom: 20%;
  left: -0.5%;
  transform: rotate(-90deg);
}
@media (max-width: 1439px) {
  .swiper__text, .swiper4__text {
    left: -1.5%;
  }
}
@media (max-width: 1023px) {
  .swiper__text, .swiper4__text {
    left: -3.5%;
  }
}
@media (max-width: 767px) {
  .swiper__text, .swiper4__text {
    display: none;
  }
}
.swiper-wrapper {
    min-width: 100%;
    min-height: 100%;
	height: 100%;
}
@media (max-width: 768px) {
  .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    position: absolute;
    left: 0;
    top: 0;
  }
}

.swiper-scrollbar {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  width: 0;
  height: 0;
}

.swiper-pagination-bullets {
  position: absolute;
  top: 44%;
  left: 3%;
}
@media (max-width: 767px) {
  .swiper-pagination-bullets {
    left: 0%;
  }
}

.swiper-pagination-bullet {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #e1e1e1;
  margin: 0 0 19px 0;
}
@media (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    margin: 0 0 29px 0;
  }
}
.swiper-pagination-bullet:last-child {
  margin: 0;
}

.swiper-pagination-bullet-active {
  background-color: #ff343d;
}
.swiper-slide {
	//padding: 0 0 35% 0;
  position: relative;
  background-size: 69%;
  background-position: 108% 30%;
}

.slide {
  display: block;
  padding: 0 0 100% 0;
  background-position: 107% 20%;
  background-size: 69%;
	
}
@media (max-width: 767px) {
  .swiper-slide {
    background-position: 63% 38%;
    background-size: 69%;
  }
}
@media (max-width: 600px) {
  .swiper-slide {
    background-position: 63% 53%;
    background-size: 89%;
  }
}
@media (max-width: 374px) {
  .swiper-slide {
    background-position: 63% 60%;
  }
}
.slide__circle {
  position: absolute;
  width: 0%;
  padding: 0 0 0% 0;
  border-radius: 50%;
  background-color: #fff;
  top: 32%;
  left: 66%;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .slide__circle {
    top: 32%;
    left: 52%;
  }
}
@media (max-width: 500px) {
  .slide__circle {
    top: 50%;
  }
}
.slide__text {
  position: absolute;
  left: 7.8%;
  top: 29.5%;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%);
}
@media (max-width: 767px) {
  .slide__text {
    left: 9.8%;
    top: 68.5%;
  }
}
@media (max-width: 600px) {
  .slide__text {
    left: 15.8%;
    top: 79.5%;
  }
}
.slide__text_title {
  font-size: 60px;
  color: #000;
  margin: 0 0 38px 0;
}
@media (max-width: 1439px) {
  .slide__text_title {
    font-size: 43px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 1023px) {
  .slide__text_title {
    font-size: 30px;
    margin: 0 0 15px 0;
  }
}
.slide__text_title:hover {
  color: rgb(255, 52, 61);
  transition: 0.5s;
}
.slide__text_content {
  font-family: "MontserratR";
  font-size: 14px;
  color: #92a1a5;
  max-width: 400px;
  line-height: 30px;
}
@media (max-width: 1439px) {
  .slide__text_content {
    font-size: 10px;
    max-width: 285px;
    line-height: 20px;
  }
}
@media (max-width: 1023px) {
  .slide__text_content {
    font-size: 7px;
    max-width: 200px;
    line-height: 14px;
  }
}

.swiper-slide-active .slide__text {
  opacity: 1;
  transition: 0.5s;
  transform: translate(0);
}
.swiper-slide-active .slide__circle {
  opacity: 1;
  transition: 0.5s;
  width: 42%;
  padding: 0 0 42% 0;
  top: 12%;
  left: 46%;
}
@media (max-width: 767px) {
  .swiper-slide-active .slide__circle {
    top: 23%;
    left: 32%;
  }
}
@media (max-width: 600px) {
  .swiper-slide-active .slide__circle {
    top: 25%;
    left: 21%;
    width: 60%;
    padding: 0 0 60% 0;
  }
}
@media (max-width: 500px) {
  .swiper-slide-active .slide__circle {
    top: 32%;
  }
}
@media (max-width: 423px) {
  .swiper-slide-active .slide__circle {
    top: 37%;
  }
}
@media (max-width: 374px) {
  .swiper-slide-active .slide__circle {
    top: 41%;
  }
}

.section2 {
  width: 100%;
  position: relative;
  z-index: 5;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
}
@media (max-width: 767px) {
  .section2 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
}
.section2__left {
  flex: 31.8%;
}
@media (max-width: 767px) {
  .section2__left {
    flex: 100%;
    padding: 0 0 50% 0;
  }
}
.section2__left_title {
  font-size: calc((100vw - 320px) / 1680 * 60 + 0px);
  margin: 39.5% 0 12px 35%;
  cursor: pointer;
  display: block;
  color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 1439px) {
  .section2__left_title {
    font-size: calc((100vw - 320px) / 1680 * 60 + 3px);
  }
}
@media (max-width: 1023px) {
  .section2__left_title {
    font-size: calc((100vw - 320px) / 1680 * 60 + 5px);
  }
}
@media (max-width: 767px) {
  .section2__left_title {
    font-size: calc((100vw - 320px) / 1680 * 60 + 25px);
  }
}
@media (min-width: 2000px) {
  .section2__left_title {
    font-size: 60px;
  }
}
.section2__left_text {
  max-width: 50%;
  font-family: "MontserratR";
  font-size: 14px;
  color: #92a1a5;
  margin: 0% 0 0px 34%;
}
.section2__right {
  flex: 68.2%;
  position: relative;
}
.section2__right::before {
  position: absolute;
  content: "";
  width: 45%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
}
.section2__right_title {
  display: block;
  position: absolute;
  font-size: 60px;
  font-size: calc((100vw - 320px) / 1680 * 60 + 0px);
  color: #fff;
  left: 7.3%;
  top: calc(50% - 1.2em);
  line-height: 1.2em;
  letter-spacing: 0.01em;
  z-index: 2;
}
@media (max-width: 1439px) {
  .section2__right_title {
    font-size: calc((100vw - 320px) / 1680 * 60 + 3px);
  }
}
@media (max-width: 1023px) {
  .section2__right_title {
    font-size: calc((100vw - 320px) / 1680 * 60 + 5px);
  }
}
@media (max-width: 767px) {
  .section2__right_title {
    font-size: calc((100vw - 320px) / 1680 * 60 + 15px);
  }
}
@media (min-width: 2000px) {
  .section2__right_title {
    font-size: 60px;
  }
}

.swiper2, .swiper3 {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 0 40.7% 0;
  overflow: hidden;
  cursor: pointer;
	left: 0;
        top: 0;
}

.swiper2-wrapper, .swiper3-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
	width: 100%;
}

.swiper2-slide, .swiper3-slide {
  
	
	min-width: 100%;
  background-size: 100%;
}

.swiper2-button-next, .swiper3-button-prev, .section5__content_button {
  position: absolute;
  right: 10%;
  top: 46.5%;
  transform: rotate(-90deg);
  background-color: #fff;
  font-size: calc((100vw - 320px) / 1680 * 18 + 0px);
  padding: 1.5% 2.65%;
  border-radius: 50px;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 1439px) {
  .swiper2-button-next, .swiper3-button-prev, .section5__content_button {
    font-size: calc((100vw - 320px) / 1680 * 18 + 2px);
  }
}
@media (max-width: 767px) {
  .swiper2-button-next, .swiper3-button-prev, .section5__content_button {
    font-size: calc((100vw - 320px) / 1680 * 18 + 7px);
    right: 3%;
  }
}
@media (min-width: 2000px) {
  .swiper2-button-next, .swiper3-button-prev, .section5__content_button {
    font-size: 18px;
  }
}
.swiper2-button-next:hover, .swiper3-button-prev:hover, .section5__content_button:hover {
  color: rgb(255, 52, 61);
  transition: 0.5s;
}

.section3 {
  padding: 4.4% 0;
}
.section3__wrap_title {
  font-size: calc((100vw - 320px) / 1680 * 34 + 0px);
  text-align: center;
  margin: 0 0 6.85% 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 1439px) {
  .section3__wrap_title {
    font-size: calc((100vw - 320px) / 1680 * 34 + 2px);
  }
}
@media (max-width: 767px) {
  .section3__wrap_title {
    font-size: calc((100vw - 320px) / 1680 * 34 + 7px);
    right: 3%;
    margin: 0 0 9.85% 0;
  }
}
@media (min-width: 2000px) {
  .section3__wrap_title {
    font-size: 34px;
  }
}
.section3__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
  flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.section3__row_block {
  display: block;
  flex: 25%;
}
@media (max-width: 767px) {
  .section3__row_block {
    flex: 50%;
    margin: 0 0 10% 0;
  }
}
.section3__block_image {
  transition: 0.5s;
  padding: 0 0 19.8% 0;
  background-size: 23%;
  margin: 0 0 17% 0;
}
.section3__block_image:hover {
  background-size: 26%;
}
.section3__block_text {
  font-size: calc((100vw - 320px) / 1680 * 21 + 0px);
  text-align: center;
  color: #000;
}
@media (max-width: 1439px) {
  .section3__block_text {
    font-size: calc((100vw - 320px) / 1680 * 21 + 2px);
  }
}
@media (max-width: 767px) {
  .section3__block_text {
    font-size: calc((100vw - 320px) / 1680 * 21 + 7px);
    right: 3%;
  }
}
@media (min-width: 2000px) {
  .section3__block_text {
    font-size: 21px;
  }
}

.section3__block:hover .section3__block_text {
  color: rgb(255, 52, 61);
  transition: 0.5s;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
  flex-wrap: wrap-reverse;
	-webkit-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
}
.section4__block {
  flex: 50%;
}
@media (max-width: 767px) {
  .section4__block {
    flex: 100%;
  }
}
.section4__right {
  background-position: 100% 50%;
  position: relative;
}
@media (max-width: 767px) {
  .section4__right {
    padding: 0 0 30% 0;
  }
}
.section4__right_title {
  position: absolute;
  left: 12%;
  top: 27%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.title__new {
  font-size: calc((100vw - 320px) / 1680 * 92 + 0px);
  color: #fff;
  font-family: "MontserratR";
  line-height: 1.1em;
}
@media (max-width: 1439px) {
  .title__new {
    font-size: calc((100vw - 320px) / 1680 * 92 + 2px);
  }
}
@media (max-width: 767px) {
  .title__new {
    font-size: calc((100vw - 320px) / 1680 * 92 + 24px);
    right: 3%;
  }
}
@media (min-width: 2000px) {
  .title__new {
    font-size: 92px;
  }
}
.title__new span {
  color: rgb(255, 52, 61);
}

.swiper3 {
  padding: 0 0 67% 0;
}

.swiper3-button-prev {
  transform: rotate(0deg);
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  right: 69.5%;
  top: 65%;
  cursor: pointer;
}
@media (max-width: 767px) {
  .swiper3-button-prev {
    font-size: calc((100vw - 320px) / 1680 * 18 + 7px);
    right: 36.5%;
    top: 56%;
  }
}
@media (max-width: 550px) {
  .swiper3-button-prev {
    right: 30.5%;
    top: 60%;
  }
}
@media (max-width: 350px) {
  .swiper3-button-prev {
    right: 26.5%;
  }
}
.swiper3-button-prev:hover {
  border: 1px solid rgb(255, 52, 61);
}

.section5 {
  padding: 0 0 43.7% 0;
  background-size: 50%;
  background-position: 115% 50%;
  position: relative;
}
.section5__content {
  position: absolute;
  left: 10.5%;
  top: 35.6%;
}
@media (max-width: 767px) {
  .section5__content {
    left: 5.5%;
    top: 12.6%;
  }
}
.section5__content_title {
  color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.section5__content_button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  transform: rotate(0deg);
  top: 132%;
  right: calc(80% - 0em);
  transition: 0.5s;
}
@media (max-width: 1140px) {
  .section5__content_button {
    right: calc(80% - 1em);
  }
}
@media (max-width: 1024px) {
  .section5__content_button {
    right: calc(80% - 1.5em);
  }
}
@media (max-width: 425px) {
  .section5__content_button {
    right: calc(80% - 2em);
  }
}
.section5__content_button:hover {
  border-color: rgb(255, 52, 61);
}

.section6 {
  position: relative;
  width: 100%;
  padding: 0 0 59.5% 0;
  background-color: #ccc;
}
.section6__title {
  font-size: calc((100vw - 320px) / 1680 * 92 + 0px);
  position: absolute;
  font-size: 92px;
  left: calc(50% - 4.7em);
  top: 65.5%;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 1439px) {
  .section6__title {
    font-size: calc((100vw - 320px) / 1680 * 92 + 2px);
  }
}
@media (max-width: 767px) {
  .section6__title {
    font-size: calc((100vw - 320px) / 1680 * 92 + 24px);
    right: 3%;
  }
}
@media (min-width: 2000px) {
  .section6__title {
    font-size: 92px;
  }
}

.swiper4 {
  width: 100%;
  left: 0;
  top: 0;
}

.swiper4-slide {
  background-size: 101%;
  padding: 0 0 59.5% 0;
}

.swiper4-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  min-height: 100%;
}

.swiper4-button-prev {
  color: #318f76;
  position: absolute;
  left: calc(50% - 5em);
  top: 78.8%;
  width: 9.15%;
  height: 4.79%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  font-size: calc((100vw - 320px) / 1680 * 18 + 0px);
  border-radius: 50px;
  z-index: 10;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 1439px) {
  .swiper4-button-prev {
    font-size: calc((100vw - 320px) / 1680 * 18 + 2px);
  }
}
@media (max-width: 767px) {
  .swiper4-button-prev {
    font-size: calc((100vw - 320px) / 1680 * 18 + 7px);
    left: calc(50% - 4em);
    top: 47.8%;
    width: 20.15%;
    height: 9.79%;
  }
}
@media (min-width: 2000px) {
  .swiper4-button-prev {
    font-size: 18px;
  }
}
.swiper4-button-prev:hover {
  color: rgb(255, 52, 61);
  transition: 0.5s;
}
