* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "MontserratR";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MontserratB";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body::-webkit-scrollbar {
  width: 0;
}

body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

.wrapper {
  max-width: 2000px;
  width: 100%;
  height: calc(100% + 1px);
  overflow-x: hidden;
  margin: 0 auto -30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "MontserratB";
}

.content {
  margin: -100px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 550px) {
  .content {
    margin: -95px 0 0 0;
  }
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eff2f6;
  height: 52.655vw;
  overflow: hidden;
  position: relative;
}
@media (min-width: 2000px) {
  .section1 {
    max-height: 1045px;
  }
}

.section1::before {
  position: absolute;
  content: "";
  width: 38%;
  height: 100%;
  left: 62%;
  top: 0;
  background-color: #ff343d;
}

h1 {
  color: #ff343d;
  font-size: 388px;
  font-size: 19.5vw;
  text-transform: uppercase;
  position: absolute;
  font-family: "MontserratB";
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: calc(100% - 38.5vw);
  top: calc(0% + 19.6vw);
}
@media (min-width: 2000px) {
  h1 {
    font-size: 388px;
    top: 386px;
    left: calc(100% - 770px);
  }
}
@media (max-width: 1000px) {
  h1 {
    top: calc(0% + 20vw);
  }
}

.section1__text {
  position: absolute;
  bottom: 122px;
  left: 9.2vw;
  font-size: 0.9vw;
  font-family: "MontserratR";
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media (min-width: 2000px) {
  .section1__text {
    left: 190px;
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .section1__text {
    bottom: 60px;
    left: 8vw;
    font-size: 1.3vw;
  }
}
@media (max-width: 767px) {
  .section1__text {
    display: none;
  }
}

.swiper1 {
  left: 12%;
  width: 100%;
  height: 250vh;
  max-width: 51.5%;
  position: relative;
  z-index: 2;
}
@media (min-width: 2000px) {
  .swiper1 {
    max-height: 250vh;
  }
}
@media (max-width: 767px) {
  .swiper1 {
    width: 100vw;
    height: 100vh;
    left: 0%;
    top: 1vw;
    max-width: 100%;
  }
}

.swiper2 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.swiper1 .swiper-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .swiper1 .swiper-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.swiper2 .swiper-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper1 .swiper-slide, .swiper2 .swiper-slide {
  min-width: 0%;
  min-height: 40vw;
  height: 50vw;
  background-size: 100%;
  background-position: 0.5vw 9.5vw;
  position: relative;
}

@media (min-width: 2000px) {
  .swiper1 .swiper-slide {
    background-position: 0.5vw 190px;
  }
}
@media (max-width: 767px) {
  .swiper1 .swiper-slide {
    background-size: 50%;
    background-position: 38vw 9.5vw;
  }
}

.swiper2 .swiper-slide {
  padding: 0 0 0 74vw;
  background-size: 60%;
  position: relative;
  z-index: 2;
}

.swiper1 .swiper-slide::before {
  position: absolute;
  content: "";
  width: 32.5vw;
  height: 32.5vw;
  border-radius: 50%;
  background-color: #fff;
  left: 18%;
  top: 10vw;
  z-index: -1;
}
@media (min-width: 2000px) {
  .swiper1 .swiper-slide::before {
    width: 650px;
    height: 650px;
    top: 200px;
  }
}
@media (max-width: 767px) {
  .swiper1 .swiper-slide::before {
    left: 46%;
  }
}

.swiper1 .swiper-pagination-bullets {
  width: 10px;
  height: 84px;
  position: relative;
  left: -47%;
  top: 25vw;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 2000px) {
  .swiper1 .swiper-pagination-bullets {
    top: 477px;
  }
}
@media (max-width: 767px) {
  .swiper1 .swiper-pagination-bullets {
    left: 2%;
    top: 30vw;
  }
}
@media (max-width: 600px) {
  .swiper1 .swiper-pagination-bullets {
    left: 3%;
    top: 26vw;
  }
}
@media (max-width: 424px) {
  .swiper1 .swiper-pagination-bullets {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 84px;
    height: 10px;
    left: 5%;
    top: 46vw;
  }
}

.swiper1 .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: #ccc;
  border-radius: 50%;
}

.swiper1 .swiper-pagination-bullet:nth-child(2) {
  top: 10%;
}

.swiper1 .swiper-pagination-bullet:nth-child(3) {
  top: 20%;
}

.swiper1 .swiper-pagination-bullet-active {
  background-color: red;
}

.swiper-slide__content {
  position: absolute;
  left: -39%;
  top: 24.4vw;
}
@media (min-width: 2000px) {
  .swiper-slide__content {
    top: 486px;
  }
}
@media (max-width: 767px) {
  .swiper-slide__content {
    left: -81%;
  }
}
@media (max-width: 424px) {
  .swiper-slide__content {
    left: -95%;
  }
}
.swiper-slide__title {
  font-family: "MontserratB";
  font-size: 3vw;
  margin: 0 0 1.5vw 0;
}
@media (min-width: 2000px) {
  .swiper-slide__title {
    font-size: 60px;
    margin: 0 0 32px 0;
  }
}
.swiper-slide__text {
  font-family: "MontserratR";
  font-size: 14px;
  color: #92a1a5;
  max-width: 20vw;
  line-height: 28px;
}
@media (min-width: 2000px) {
  .swiper-slide__text {
    max-width: 400px;
  }
}
@media (max-width: 1450px) {
  .swiper-slide__text {
    max-width: 30vw;
  }
}
@media (max-width: 767px) {
  .swiper-slide__text {
    font-size: 2.5vw;
    line-height: 3vw;
  }
}
@media (max-width: 424px) {
  .swiper-slide__text {
    max-width: 46vw;
  }
}
